<script lang="ts">
  import { createEventDispatcher } from "svelte";
  const emit = createEventDispatcher();
  const rotation = Math.random() * 6 - 3;

  export let open = false;

  function toggleEnvelope() {
    emit("open");
  }
</script>

<article
  class="w-full max-w-2xl aspect-[3/2] text-sm
        transition-transform ease-in-out duration-500"
  style="transform: rotate({rotation}deg)"
>
  <button on:click={toggleEnvelope}>
    <div id="number">
      <slot name="number" />
    </div>
    <div id="date" class="justify-end">
      <slot name="date" />
    </div>
    <div id="text" class="items-center justify-center text-lg h-full">
      <slot name="text" />
    </div>
    <div id="quant" class="items-end">
      <slot name="quant" />
    </div>
    <div id="place" class="items-end justify-end">
      <slot name="place" />
    </div>
    {#if open}
      <div class="flap w-6 sm:w-12" />
    {/if}
  </button>
</article>

<style lang="postcss">
  button {
    @apply relative w-full h-full grid px-4 py-2 bg-brown-paper;

    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.3);

    grid-template:
      "number date" 3rem
      "text text" 1fr
      "quant place" 3rem / 1fr 1fr;
  }

  .flap {
    content: "";

    @apply absolute left-full top-0 bg-gradient-to-r from-[#a7825b] to-brown-paper h-full shadow-md shadow-stone-500;

    border-radius: 0 1000px 1000px 0;
  }

  div {
    @apply flex;
  }

  #number {
    grid-area: number;
  }
  #place {
    grid-area: place;
  }
  #text {
    grid-area: text;
  }
  #date {
    grid-area: date;
  }
  #quant {
    grid-area: quant;
  }
</style>
