<script lang="ts">
  import FilmNegative from "./filmNegative.svelte";
  const rotation = () => Math.random() * 20 - 10;

  export let images: Image[];
  export let transparent = false;
</script>

<div
  class="inline-flex justify-center mix-blend-multiply
  {(transparent) ? 'text-gray-200' : 'text-film-strip'}"
  style="transform: rotate({rotation()}deg);"
>
  {#each images as image}
    <FilmNegative {image} />
  {/each}
</div>