<script lang="ts">
  import { base } from "$app/paths";

  export let image: Image;
</script>

<figure
  class="absolute top-0 left-0 w-full h-full items-center justify-center p-8 z-30 flex flex-col"
>
  <img
    class="object-contain max-w-full max-h-full shadow-md bg-white p-3"
    src="{base}/img/{image.src}.jpg"
    alt={image.alt}
  />
  <figcaption class="p-3">
    texto
  </figcaption>
</figure>
