<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";

  export let image: Image;
  const currentPage = $page.url.href
                        .replace($page.url.origin, '')
                        .replace(base, '')
                        .split('/')[1]
  const currentGallery = $page.params.hasOwnProperty('gallery')
                      ? `/${$page.params.gallery}/`
                      : '/'
</script>

{#if image.aspect === 'square'}
<div class="relative h-36 w-52">
  <div class="w-full flex items-center justify-center p-[3.5%] bg-gray-200 aspect-square
            absolute -translate-y-1/4">
    <a
      class="relative w-full mix-blend-multiply filter invert aspect-square"
      href="{base}/{currentPage}{currentGallery}{image.src}"
    >
    <img
      class="absolute w-full h-full object-cover"
      src="{base}/img/{image.src}.jpg"
      alt={image.alt} />
    </a>
  </div>
</div>
{:else}
<div class="film-strip h-20 lg:h-28">
  <div class="trail-top" />
  <div class="negative flex items-center justify-center p-[3.5%]">
    <a
      class="relative w-full mix-blend-multiply filter invert aspect-[3/2]"
      href="{base}/{currentPage}{currentGallery}{image.src}"
    >
      <figure
        class="absolute top-0 left-0
              {image.aspect === 'portrait'
          ? 'h-20 lg:h-28 aspect-[2/3] origin-center translate-x-[30%] -translate-y-[17%] -rotate-90'
          : 'w-20 lg:w-28 aspect-[3/2]'}">
          <img
          class="absolute w-full h-full object-cover"
          src="{base}/img/{image.src}.jpg"
          alt={image.alt} />
        </figure>
    </a>
  </div>
  <div class="trail-bottom" />
</div>
{/if}

<style lang="postcss">
  .film-strip {
    aspect-ratio: 15/14;
  }

  .negative {
    @apply flex-grow bg-current;
  }

  .trail-top,
  .trail-bottom {
    height: 10%;
    @apply w-full bg-repeat-x shadow-sm;
    background-size: 12.5% 100%;
  }

  .trail-top {
    background-image: linear-gradient(
        to bottom,
        currentColor 40%,
        transparent 42%
      ),
      linear-gradient(
        to right,
        transparent 25%,
        currentColor 25%,
        currentColor 75%,
        transparent 75%
      );
  }

  .trail-bottom {
    background-image: linear-gradient(to top, currentColor 40%, transparent 40%),
      linear-gradient(
        to right,
        transparent 25%,
        currentColor 25%,
        currentColor 75%,
        transparent 75%
      );
  }
</style>
