<script lang="ts">
  import { goto } from "$app/navigation";
  import { base } from "$app/paths";
  import PageTransition from "./pageTransition.svelte";
  import PhotoPaper from "./photoPaper.svelte";

  export let key: string;
  export let route: string;
  export let images: Image[][];
  let isDirectionUp = true;

  $: currentImage = images.flat(1).findIndex((image) => image.src === key);
  $: previousImage = currentImage === 0 ? images.flat(1).length - 1 : currentImage - 1;
  $: nextImage = currentImage === images.flat(1).length - 1 ? 0 : currentImage + 1;

  export function next() {
    isDirectionUp = true;
    goto(`${base}/${route}/${images.flat(1)[nextImage].src}`);
  }

  export function previous() {
    isDirectionUp = false;
    goto(`${base}/${route}/${images.flat(1)[previousImage].src}`);
  }
</script>

<button
  on:click|preventDefault={previous}
  class="touch:hidden left-2"
>
  &lsaquo;
</button>
<PageTransition {key} {isDirectionUp} horizontal>
  <PhotoPaper image={images.flat(1)[currentImage]} />
</PageTransition>
<button
  on:click|preventDefault={next}
  class="touch:hidden right-2">
  &rsaquo;
</button>

<style lang="postcss">
  button {
    @apply absolute w-10 h-10 z-10 bg-white shadow-md rounded-full flex items-center justify-center;
  }
</style>
