<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";

  let open = false;
  export let pages: Pages;

  $: $page.url.pathname, closeMenu()

  function closeMenu() {
    open = false
  }
</script>

<nav class="fixed top-0 right-0 p-6 z-50">
  <button
    on:click={() => (open = !open)}
    class="flex flex-col justify-around w-6 h-6"
  >
    <div
      class="burger-bar origin-top-left w-full {open
        ? 'rotate-45 translate-x-[20%]'
        : ''}"
    />
    <div class="burger-bar {open ? 'w-0' : 'w-full'}" />
    <div
      class="burger-bar origin-bottom-left w-full {open
        ? '-rotate-45 translate-x-[20%]'
        : ''}"
    />
  </button>
</nav>

<aside
  class="fixed w-full h-full flex transform z-40 transition duration-500 ease-in-out"
  class:translate-x-full={!open}
>
  <button on:click={() => (open = false)} class="flex-grow w-full h-full" />
  <div class="wrapper w-full h-full flex flex-col items-center justify-center max-w-xl bg-white shadow-lg p-6">
    <ul
      class="text-center my-auto"
    >
      {#each Object.keys(pages) as page}
        <li class="py-2">
          <a href="{base}/{page}">
            {pages[page].title}
          </a>
        </li>
      {/each}
    </ul>
    <a href="{base}/sobre"> saiba mais </a>
  </div>
</aside>

<style lang="postcss">
  .burger-bar {
    @apply h-[1px] bg-current transform transition-all ease-out duration-300;
  }

  .wrapper {
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 100px, rgba(0, 0, 0, 0.0) 0px -20px 10px;
  }
</style>
