<div
  class="phone relative w-72 aspect-[6/13] flex justify-center items-center rounded-[2rem] bg-current
        mobile-landscape:aspect-[13/6] mobile-landscape:h-72 mobile-landscape:w-auto"
>
  <div class="absolute top-2 w-2 h-2 rounded-full bg-black border-x-zinc-400 border translate-x-[2px]
            mobile-landscape:left-2 mobile-landscape:top-auto"
  />
  <div class="absolute top-2 right-2 flex text-white">
    <div>
      <div class="wave">
        <div class="wave">
          <div class="wave">
            <div class="wave" />
          </div>
        </div>
      </div>
    </div>
    <div class="relative m-[3px] mr-3 border-current border rounded-sm w-3 h-2 p-[1px] flex items-center">
      <div class="absolute -right-[3px] w-[2px] h-4/5 rounded-sm bg-current"></div>
      <div class="w-1/3 h-full bg-current"></div>
    </div>
  </div>
  <div class="overflow-hidden rounded-3xl h-full w-full">
    <slot />
  </div>
</div>

<style lang="postcss">
  .phone {
    border: 40px solid currentColor;
    border-width: 7px;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(-10deg);
    box-shadow: -3px 3px 0 hsl(240, 4%, 10%), -6px 10px 20px #999;
  }

  .wave {
    border: 1px solid transparent;
    border-top-color: currentColor;
    border-radius: 100%;
    border-style: solid;
    margin:2px;
  }
</style>
