<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  const emit = createEventDispatcher()

  let endedAnimations = 0

  function animationEnd() {
    endedAnimations ++
    if(endedAnimations < 2) return
    emit('end')
  }
</script>
<div
  class="absolute w-full h-full flex flex-col justify-around">
  <div
    class="relative w-full h-10 neonText animation-1"
    on:animationend={animationEnd}
    />
  <div
    class="relative w-full h-10 neonText animation-2"
    />
</div>
<style>
.neonText {
  background-color: #fff;
}

.animation-1 {
  animation: flicker-1 1.5s forwards, hide-bg 2.5s forwards;
}

.animation-2 {
  animation: flicker-2 1.5s forwards, hide-bg 2.5s forwards;
}
/* Flickering animation */
@keyframes flicker-1 {
  18%, 22%, 25%, 53%, 57%, 100% {

      box-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px currentColor,
      0 0 80px currentColor,
      0 0 90px currentColor,
      0 0 100px currentColor,
      0 0 150px currentColor;

  }

  0%, 20%, 24%, 55% {
      box-shadow: none;
  }
}

@keyframes flicker-2 {
  9%, 32%, 45%, 72%, 78%, 100% {

      box-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px currentColor,
      0 0 80px currentColor,
      0 0 90px currentColor,
      0 0 100px currentColor,
      0 0 150px currentColor;

  }

  0%, 30%, 40%, 74% {
      box-shadow: none;
  }
}

@keyframes hide-bg {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>