<script lang="ts">
  import { cubicInOut } from "svelte/easing";

  export let key: string;
  export let isDirectionUp = true;
  export let horizontal = false;

  function slide(
    node: HTMLElement,
    {
      x = horizontal ? 150 : Math.round(Math.random() * 100) - 50,
      y = horizontal ? Math.round(Math.random() * 100) - 50 : 150,
      duration = 0,
      easing = cubicInOut,
    }
  ) {
    const from = Math.round(Math.random() * 100) - 50;
    const direction = isDirectionUp ? 1 : -1;
    return {
      duration,
      easing,
      css: (t: number, u: number) =>
        `transform:
        translate3D(${direction * u * x}vw, ${direction * u * y}vh, 0)
        rotate(${u * from}deg);`,
    };
  }
</script>

{#key key}
  <section
    in:slide={{ duration: 500 }}
    out:slide={{
      x: horizontal ? -150 : 0,
      y: horizontal ? 0 : -150,
      duration: 500,
    }}
    class="absolute w-full h-full flex flex-col items-center justify-center"
  >
    <slot />
  </section>
{/key}
