<div class="folded w-full h-full Z-10">
  <slot />
  <span class="folds main">
    <span class="cell main-1" />
    <span class="cell main-2" />
    <span class="cell main-1" />
    <!-- <span class="cell main-2" /> -->
  </span>

  <span class="folds vertical">
    <span class="cell vertical-1" />
    <span class="cell vertical-2" />
    <span class="cell vertical-3" />
    <!-- <span class="cell vertical-4" /> -->
  </span>

  <span class="folds horizontal">
    <span class="cell horizontal-1" />
    <span class="cell horizontal-2" />
    <span class="cell horizontal-1" />
    <!-- <span class="cell horizontal-2" /> -->
    <span class="cell horizontal-1" />
    <span class="cell horizontal-3" />
    <span class="cell horizontal-4" />
    <!-- <span class="cell horizontal-3" /> -->
    <span class="cell horizontal-6" />
    <span class="cell horizontal-4" />
    <span class="cell horizontal-5" />
    <!-- <span class="cell horizontal-6" /> -->
    <!-- <span class="cell horizontal-4" />
    <span class="cell horizontal-3" /> -->
  </span>
</div>

<style>
  .folded {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0.2em 0.2em 0.8em 0.2em rgba(76, 53, 73, 0.4);
  }

  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  span.folds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  span.cell {
    border: 0px solid rgba(30, 10, 60, 0.4);
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  /* MAIN */
  span.main {
    visibility: visible;
    filter: opacity(1);
  }

  span.main-1 {
    background-image: linear-gradient(
      to right,
      rgba(76, 53, 73, 0.2) 0%,
      rgba(76, 53, 73, 0.1) 100%
    );
  }

  span.main-2 {
    background-image: linear-gradient(
      to right,
      rgba(76, 53, 73, 0.04) 0%,
      rgba(76, 53, 73, 0) 100%
    );
  }

  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  /* VERTICAL */
  span.vertical {
    visibility: visible;
    filter: opacity(1);
  }

  span.vertical-1 {
    background-image: linear-gradient(
      to right,
      rgba(76, 53, 73, 0.08) 0%,
      rgba(76, 53, 73, 0.02) 20%,
      rgba(76, 53, 73, 0.16) 94%,
      rgba(76, 53, 73, 0.1) 98%,
      rgba(76, 53, 73, 0.06) 100%
    );
  }

  span.vertical-2 {
    background-image: linear-gradient(
      to right,
      rgba(76, 53, 73, 0.06) 0%,
      rgba(76, 53, 73, 0.1) 2%,
      rgba(76, 53, 73, 0.16) 6%,
      rgba(76, 53, 73, 0) 40%,
      rgba(76, 53, 73, 0.02) 100%
    );
  }

  span.vertical-3 {
    background-image: linear-gradient(
      to right,
      rgba(76, 53, 73, 0.3) 0%,
      rgba(76, 53, 73, 0.24) 2%,
      rgba(76, 53, 73, 0.15) 5%,
      rgba(76, 53, 73, 0) 28%,
      rgba(76, 53, 73, 0) 60%,
      rgba(76, 53, 73, 0.16) 94%
    );
  }

  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  /* HORIZONTAL */
  span.horizontal {
    visibility: visible;
    filter: opacity(1);
  }

  span.horizontal-1 {
    background-image: linear-gradient(
      to bottom,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0) 72%,
      rgba(76, 53, 73, 0.15) 95%,
      rgba(76, 53, 73, 0.24) 100%
    );
  }

  span.horizontal-2 {
    background-image: linear-gradient(
      to bottom,
      rgba(76, 53, 73, 0.08) 0%,
      rgba(76, 53, 73, 0) 40%,
      rgba(76, 53, 73, 0.22) 97%,
      rgba(76, 53, 73, 0.08) 100%
    );
  }

  span.horizontal-3 {
    background-image: linear-gradient(
      to top,
      rgba(76, 53, 73, 0.24) 0%,
      rgba(76, 53, 73, 0.08) 15%,
      rgba(76, 53, 73, 0) 40%,
      rgba(76, 53, 73, 0.14) 94%,
      rgba(76, 53, 73, 0.24) 100%
    );
  }

  span.horizontal-4 {
    background-image: linear-gradient(
      to top,
      rgba(76, 53, 73, 0.24) 0%,
      rgba(76, 53, 73, 0.02) 30%,
      rgba(76, 53, 73, 0.02) 100%
    );
  }

  span.horizontal-5 {
    background-image: linear-gradient(
      to bottom,
      rgba(76, 53, 73, 0.08) 0%,
      rgba(76, 53, 73, 0) 40%,
      rgba(76, 53, 73, 0.14) 100%
    );
  }

  span.horizontal-6 {
    background-image: linear-gradient(
      to bottom,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0) 60%,
      rgba(76, 53, 73, 0.18) 94%
    );
  }

  /* ---------------------------------------------------
  Based on a Map wrritten by STARIDAS GEOGRAPHY Making Maps Pretty
  info@staridasgeography.gr | www.staridasgeography.gr
  Copyright 2021 | All Rights Reserved | CC BY-NC-SA 4.0
  ---------------------------------------------------- */
</style>
