<script lang="ts">
  import { base } from "$app/paths";
  import { tweened } from 'svelte/motion';
  import { cubicOut } from 'svelte/easing';

  export let image: Image;

  let isFlipped = false;
  const flip = tweened(0, {
		duration: 500,
    easing: cubicOut
	});

  $: $flip, flipStatus()

  function flipImage() {
    if(!image.text) return
    isFlipped ? flip.set(0) : flip.set(180)
  }

  function flipStatus() {
    if(isFlipped && $flip < 90) isFlipped = false
    if(!isFlipped && $flip > 90) isFlipped = true
  }
</script>

<button
  on:click|preventDefault={flipImage}
  class="photo relative max-h-[90vh] max-w-[90vw] p-3 bg-white shadow-md {image.aspect}"
  style="transform: rotateY({$flip}deg)"
>
  {#if isFlipped}
    <div class="absolute w-full h-full flex items-center justify-center p-12" style="transform: rotateY(180deg)">
      {image.text || ''}
    </div>
  {/if}
  <img
    class="w-full h-full"
    class:opacity-0={isFlipped}
    src="{base}/img/{image.src}.jpg"
    alt={image.alt}
  />
</button>

<style>
  .photo {
    background: linear-gradient(
      180deg,
      hsl(0, 0%, 100%) 0%,
      hsl(0, 0%, 100%) 75%,
      hsl(0, 0%, 95%) 100%
    );
  }

  .portrait { aspect-ratio: 2/3; }
  .landscape { aspect-ratio: 3/2; }
  .square { aspect-ratio: 1; }
</style>
