<div class="relative flex w-36 lg:w-48 aspect-square">
  <div class="postit absolute w-full h-full top-0 left-0">
    <svg width="0" height="0">
      <defs>
        <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
          <path
                d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                stroke-linejoin="round"
                stroke-linecap="square"
                />
        </clipPath>
      </defs>
    </svg>
    <div class="postit-content p-6 text-center w-full h-full flex justify-center items-center">
      <slot />
    </div>
  </div>
</div>

<style>
/* Shadow behind the sticky note */
.postit:before {
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  width: 85%;
  left: 5px;
  height: 90%;
  position: absolute;
  top: 10%;
  filter: blur(7px);
}

/* The sticky note itself */
.postit-content {
  background: linear-gradient(
    180deg,
    hsl(53,88%,73%) 0%,
    hsl(53,88%,73%) 12%,
    hsl(53,80%,65%) 75%,
    hsl(53,75%,65%) 100%
  );
  clip-path: url(#stickyClip);
}

@media (min-width: 1024px) {
  .postit:before {
    filter: blur(15px);
  }
}
</style>