<span class="scroll-icon text-stone-500">
  <span class="scroll-icon__dot scroll-animation touch:swipe-animation"></span>
</span>

<style lang="postcss">
  @keyframes scroll {
    0% {
      transform: translateY(0) rotate(var(--tw-rotate));
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      transform: translateY(0.75em) rotate(var(--tw-rotate));
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotate(var(--tw-rotate));
      opacity: 0;
    }
  }

  @keyframes swipe {
    0% {
      transform: translateY(2em) rotate(var(--tw-rotate));
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      transform: translateY(0.25em) rotate(var(--tw-rotate));
      opacity: 0;
    }
    100% {
      transform: translateY(2em) rotate(var(--tw-rotate));
      opacity: 0;
    }
  }

  .scroll-animation {
    animation: scroll 2s ease-out infinite;
  }

  .swipe-animation {
    animation: swipe 2s ease-out infinite;
  }

  .scroll-icon__dot {
    @apply absolute bg-current h-2 w-2 rounded-full;
  }

  .scroll-icon {
    @apply relative h-12 w-6 border-2 border-current rounded-full flex justify-center m-8;
  }

  .scroll-icon::after {
    content: '';

    @apply absolute top-full w-2 h-2 border border-t-0 border-l-0 border-current transform rotate-45;
    animation: scroll 2s 0.15s ease-out infinite;
  }
</style>