<script lang="ts">
  import { page } from "$app/stores";
  import FilmReel from "$lib/filmReel.svelte";
  import PaperPage from "$lib/paperPage.svelte";

  export let data: RoutesData;
</script>

<div
  class="w-screen h-screen p-6 flex flex-col justify-center items-center bg-light-table"
>
  <div
    class="relative w-full max-h-full max-w-4xl aspect-[3/2] portrait:aspect-[2/3] transition-all duration-500"
  >
    <div
      class="absolute w-full h-full flex items-center justify-center transition duration-500
            {$page.params.hasOwnProperty('gallery')
        ? '-translate-x-[100vw]'
        : ''}"
    >
      <PaperPage>
        <div class="flex flex-col h-full p-12">
          <h1>{data.pages[data.key].title}</h1>
          <p class="mt-4">
            {data.pages[data.key].text}
          </p>
        </div>
      </PaperPage>
    </div>
  </div>
  <div
    class="top-1/2 flex lg:absolute portrait:flex-col mobile-landscape:absolute mobile-landscape:top-[80%]">
    {#each data.pages[data.key].images as images}
      <FilmReel {images} />
    {/each}
  </div>
</div>
