<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import "../app.css";

  $: {
    if (typeof gtag !== 'undefined') {
      gtag('config', 'G-1XGRMZ4WY3', {
        page_title: document.title,
        page_path: $page.url.pathname
      })
    }
  }
</script>

<svelte:head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1XGRMZ4WY3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-1XGRMZ4WY3');
  </script>
  <link rel="preload" as="image" href="{base}/img/632_0.jpg" />
  <link rel="preload" as="image" href="{base}/img/632_1.jpg" />
  <link rel="preload" as="image" href="{base}/img/632_2.jpg" />
  <link rel="preload" as="image" href="{base}/img/632_3.jpg" />
  <link rel="preload" as="image" href="{base}/img/632_4.jpg" />
</svelte:head>

<main
  class="relative overflow-hidden w-full h-full">
    <slot />
</main>