<script lang="ts">
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import NeonLight from "$lib/neonLight.svelte";
  import { goto } from "$app/navigation";
  import { base } from "$app/paths";

  const logos = ["proac", "grão", "casa de abelha"];
  let panel = -1;

  onMount(() => {
    panel = 0;
  });
</script>

<div
  class="w-full h-full flex items-center justify-center
        {panel >= 0 ? 'transition-[background-color] delay-300 duration-1000 ease-in' : ''}
        {panel < logos.length ? 'bg-zinc-900' : 'bg-light-table'}
        {panel > logos.length ? '' : 'text-light-table'}"
>
  {#each logos as logo, key}
    {#if panel === key}
      <div
        in:fade={{ duration: 1000, delay: 1100 }}
        out:fade={{ duration: 1000, delay: 3000 }}
        on:introend={() => (panel = -1)}
        on:outroend={() => (panel = key + 1)}
        class="absolute transition-opacity duration-1000 delay-1000"
      >
        {logo}
      </div>
    {/if}
  {/each}
  {#if panel === logos.length}
    <NeonLight on:end={() => goto(`${base}/home`)} />
  {/if}
</div>
