<script lang="ts">
  import { openEnvelope } from "$stores/store";
  import { page } from "$app/stores";
  import Envelope from "$lib/envelope.svelte";
  import FilmReel from "$lib/filmReel.svelte";

  export let data: RoutesData;
</script>

<div
  class="flex-grow transition-all duration-500
    {$page.params.image ? 'h-8 w-0' : 'h-full w-full mobile-landscape:h-8 mobile-landscape:w-0'}"
/>
<div
  class="relative transition duration-500 transform w-full max-w-2xl p-10 text-center
        {$page.params.image
        ? 'rotate-0'
        : ''}"
>
  <p
    class="mb-12 max-h-0 overflow-hidden transition-all duration-1000 ease-in delay-200"
    class:max-h-96={$openEnvelope} >
    Essa é uma experiência interativa. Com o rolar das telas, você poderá navegar por galerias que contam a história do processo de restauro e digitalização de milhares de negativos depositados no Centro de Memória de São Bernardo do Campo.<br /><br />Clique para explorar.
  </p>
  {#each data.pages[data.key].images as strip}
    <FilmReel images={strip} />
  {/each}
</div>
<div class="relative flex-grow w-full h-full">
  {#if $page.params.hasOwnProperty("image")}
    <slot />
  {/if}
</div>
<div
  class="absolute w-full max-w-2xl transiiton duration-500 ease-out"
  style="transform: translateX({$page.params.hasOwnProperty("image") ? "-100vw" : $openEnvelope ? "-100%" : 0})">
  <Envelope
    open={$openEnvelope}
    on:open={() => openEnvelope.set(!$openEnvelope)}>
    <span slot="number">{data.pages[data.key].title}:</span>
    <span slot="text">{data.pages[data.key].text}</span>
    <span slot="date">{data.pages[data.key].date}</span>
    <span slot="place">{data.pages[data.key].place}</span>
  </Envelope>
</div>