<script lang="ts">
  import FilmReel from "$lib/filmReel.svelte";

  export let data: RoutesData;

</script>

<div class="w-full h-full max-w-2xl flex flex-col">
  <div class="flex-grow flex flex-col justify-center p-8">
    <h1>{data.pages[data.key].title}</h1>
    <p class="mt-4">
      {data.pages[data.key].text}
    </p>
  </div>
  <div
    class="w-full flex-grow flex flex-col items-center justify-start bg-light-table
              mobile-landscape:flex-row mobile-landscape:flex-wrap mobile-landscape:justify-center"
  >
    {#each data.pages[data.key].images as images, key}
      <div class={key === 3 ? "mobile-landscape:order-1" : "order-2"}>
        <FilmReel {images} transparent={key === 0} />
      </div>
    {/each}
  </div>
</div>
