<script lang="ts">
  import { lockNavigation } from "$stores/store";
  import { base } from "$app/paths";
  import { fly } from "svelte/transition";
  import { flip } from "svelte/animate";
  import Envelope from "$lib/envelope.svelte";
  import PageTransition from "$lib/pageTransition.svelte";

  export let data: RoutesData;
  let wrapper: HTMLOListElement;
  let preload = 0;
  var timeout: ReturnType<typeof setTimeout>;

  function setNavigation() {
    clearTimeout(timeout);
    if (wrapper.scrollTop === 0)
      timeout = setTimeout(() => lockNavigation.set(false), 300);
    else lockNavigation.set(true);
  }
</script>

<svelte:head>
  {#each data.pages.arquivo.galleries[preload].images.flat(1) as image}
    <link rel="preload" as="image" href="{base}/img/{image.src}.jpg" />
  {/each}
</svelte:head>

<ol
  bind:this={wrapper}
  class="w-full h-full py-12 overflow-y-scroll flex flex-col items-center"
  on:scroll={setNavigation}
>
  {#each data.pages.arquivo.galleries.filter((g) => g.page === data.gallery || data.gallery === "") as gallery, key (key)}
    {@const quant = gallery.images.flat(1).length}
    <li
      transition:fly={{ x: -1000 }}
      animate:flip={{ duration: 200 }}
      class="w-full max-w-2xl max-h-12 transition-all duration-500 ease-in-out hover:max-h-[30rem] focus-within:max-h-[30rem] touch:hover:max-h-full"
      class:-translate-x-72={gallery.page === data.gallery}
    >
      <a
        on:mouseover={() => (preload = key)}
        on:focus={() => (preload = key)}
        class="w-full"
        href="{base}/arquivo/{data.gallery === gallery.page
          ? ''
          : gallery.page}"
      >
        <Envelope open={gallery.page === data.gallery}>
          <span slot="number">{gallery.title}</span>
          <span slot="text">{gallery.text}</span>
          <span slot="date">{gallery.date}</span>
          <span slot="quant">{quant} foto{quant > 1 ? "s" : ""}</span>
        </Envelope>
      </a>
    </li>
  {/each}
</ol>

<div class="fixed">
  <PageTransition key={data.gallery} horizontal>
    <slot />
  </PageTransition>
</div>
