<script lang="ts">
  import PostIt from "$lib/postIt.svelte";
  import FilmReel from "$lib/filmReel.svelte";

  export let data: RoutesData;
</script>

<div class="absolute top-0 left-0 p-10 z-20">
  <PostIt>{data.pages[data.key].title}</PostIt>
</div>
<div
  class="absolute w-full max-w-2xl flex-grow flex flex-col items-center justify-center"
>
  {#each data.pages[data.key].images as images}
    <FilmReel {images} transparent />
  {/each}
  <div class="flex-grow flex items-start justify-center p-8">
    {data.pages[data.key].text}
  </div>
</div>
