<script lang="ts">
  import FilmReel from "$lib/filmReel.svelte";

  export let data: RoutesData;

  const currentGallery = data.pages.arquivo.galleries.find(gallery => gallery.page === data.gallery) as Gallery
</script>

<div
  class="absolute w-full flex-grow flex flex-col items-center justify-center"
>
  {#each currentGallery.images as images, key}
  {@const transparent = currentGallery.hasOwnProperty('transparent') && currentGallery.transparent.includes(key)}
    <FilmReel {images} {transparent} />
  {/each}
</div>
