<script lang="ts">
  import { lockNavigation } from "$stores/store";
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import { goto } from "$app/navigation";
  import Menu from "$lib/menu.svelte";
  import ImageCarousel from "$lib/imageCarousel.svelte";
  import PageTransition from "$lib/pageTransition.svelte";

  export let data: RoutesData;

  $: currentPage = Object.keys(data.pages).findIndex(
    (element: string) => element === data.key
  );

  $: route = $page.params.hasOwnProperty("gallery")
    ? `arquivo/${data.gallery}`
    : data.key;

  let carousel: ImageCarousel;
  var timeout: ReturnType<typeof setTimeout>;
  let touchHandler: Touch;
  let isDirectionUp = true;

  function parentPage() {
    const destination = Object.keys(data.pages)[currentPage];
    goto(`${base}/${destination}`);
  }

  function nextPage() {
    if (currentPage < 0) return;
    if (currentPage >= Object.keys(data.pages).length - 1) return;
    const destination = Object.keys(data.pages)[currentPage + 1];
    isDirectionUp = true;
    goto(`${base}/${destination}`);
  }

  function previousPage() {
    if (currentPage < 0) return;
    if (currentPage <= 0) return;
    const destination = Object.keys(data.pages)[currentPage - 1];
    isDirectionUp = false;
    goto(`${base}/${destination}`);
  }

  function nextGallery() {
    const currentGallery =
      data.pages.arquivo.galleries.findIndex((g) => g.page === data.gallery) ||
      0;
    const galleryIndex =
      currentGallery === data.pages.arquivo.galleries.length - 1
        ? 0
        : currentGallery + 1;
    const gallery = data.pages.arquivo.galleries[galleryIndex].page;
    goto(`${base}/arquivo/${gallery}`);
  }

  function previousGallery() {
    const currentGallery = data.pages.arquivo.galleries.findIndex(
      (g) => g.page === data.gallery
    );
    const galleryIndex =
      currentGallery === 0
        ? data.pages.arquivo.galleries.length - 1
        : currentGallery - 1;
    const gallery = data.pages.arquivo.galleries[galleryIndex].page;
    goto(`${base}/arquivo/${gallery}`);
  }

  function manageNext() {
    $page.params.hasOwnProperty("gallery") ? nextGallery() : nextPage();
  }

  function managePrevious() {
    if ($lockNavigation) return;
    $page.params.hasOwnProperty("gallery") ? previousGallery() : previousPage();
  }

  function manageKeyboard(event: KeyboardEvent) {
    if (event.key === "ArrowDown" || event.key === "PageDown") manageNext();
    if (event.key === "ArrowUp" || event.key === "PageUp") managePrevious();

    if ($page.params.hasOwnProperty("image") && carousel) {
      if (event.key === "ArrowRight") carousel.next();
      if (event.key === "ArrowLeft") carousel.previous();
      if (event.key === "Escape") {
        if ($page.params.hasOwnProperty("gallery"))
          goto(`${base}/arquivo/${$page.params.gallery}`);
        else parentPage();
      }
    } else if ($page.params.hasOwnProperty("gallery")) {
      if (event.key === "Escape" || event.key === "ArrowLeft")
        goto(`${base}/arquivo`);
    }
  }

  function manageScroll(event: WheelEvent) {
    clearTimeout(timeout);
    timeout = setTimeout(() => changePage(event.deltaY), 300);
  }

  function changePage(value: number) {
    if (value > 0) manageNext();
    else managePrevious();
  }

  function manageSwipe(event: TouchEvent) {
    if (
      Math.abs(event.changedTouches[0].screenX - touchHandler.screenX) < 100 &&
      Math.abs(event.changedTouches[0].screenY - touchHandler.screenY) < 100
    )
      return;

    if (event.changedTouches[0].screenY < touchHandler.screenY) manageNext();
    if (event.changedTouches[0].screenY > touchHandler.screenY)
      managePrevious();

    if ($page.params.hasOwnProperty("image") && carousel) {
      if (event.changedTouches[0].screenX < touchHandler.screenX)
        carousel.next();
      if (event.changedTouches[0].screenX > touchHandler.screenX)
        carousel.previous();
    }
  }

  $: imagePreloader = Object.keys(data.pages)[currentPage + 1] || "";
</script>

<svelte:head>
  {#if imagePreloader !== ""}
    {#each data.pages[imagePreloader].images.flat(1) as image}
      <link rel="preload" as="image" href="{base}/img/{image.src}.jpg" />
    {/each}
  {/if}
</svelte:head>

<svelte:window
  on:keydown={manageKeyboard}
  on:wheel={manageScroll}
  on:touchstart={(event) => (touchHandler = event.changedTouches[0])}
  on:touchend={manageSwipe}
/>

<Menu pages={data.pages} />

<div class="w-full h-full">
  <PageTransition key={data.key} {isDirectionUp}>
    <slot />
  </PageTransition>

  {#if data.image !== ""}
    <a
      href="{base}/{route}"
      class="fixed top-0 left-0 w-full h-full cursor-default flex items-center justify-center"
    >
      <ImageCarousel
        bind:this={carousel}
        key={data.image}
        {route}
        images={data.gallery === ""
          ? data.pages[data.key].images
          : data.pages.arquivo.galleries.find(
              (g) => g.page === $page.params.gallery
            ).images}
      />
    </a>
  {/if}
</div>
