<script lang="ts">
  import { base } from "$app/paths";
  import MobilePhone from "$lib/mobilePhone.svelte";

  export let data: RoutesData;
</script>
<MobilePhone>
  <div class="w-full h-full max-w-2xl flex flex-col justify-center bg-slate-600 text-white
              mobile-landscape:flex-row">
    <div class="p-2 mobile-landscape:w-52">
      <h1 class="mobile-landscape:writing-up">{data.pages[data.key].title}</h1>
    </div>
    <div class="my-auto flex flex-col aspect-[6/7] mobile-landscape:h-full">
    {#each data.pages[data.key].images as strip}
      <div class="flex-grow w-full flex mobile-landscape:w-auto">
        {#each strip as image}
          <a
            class="flex-grow w-full bg-white p-[1px] m-1 opacity-50 transition-opacity duration-500 ease-out
                  hover:opacity-100 touch:opacity-100"
            href="{base}/{data.key}/{image.src}"
            >
            <img src="{base}/img/{image.src}.jpg" alt={image.alt} />
          </a>

        {/each}
      </div>
    {/each}
    </div>
    <div class="p-2 flex items-center">
      {data.pages[data.key].text}
    </div>
  </div>
</MobilePhone>
