<script lang="ts">
  import PhotoPaper from "$lib/photoPaper.svelte";

  const images = [
    {
      src: "cmsbc",
      alt: "Centro de Memória de São Bernardo do Campo",
      aspect: "landscape"
    },
    {
      src: "sbc",
      alt: "São Bernardo do Campo",
      aspect: "landscape"
    },
    {
      src: "463_3",
      alt: "Imagem de uma gravura da São Bernardo do Campo colonial.",
      aspect: "landscape"
    },
    {
      src: "552",
      alt: "Cranças vestidas de anjos e demônios sobre um gramado.",
      aspect: "landscape"
    },
    {
      src: "589_1",
      alt: "Pessoas fotografadas em frente a uma rua e dois ônibus, em inauguração da linha de ônibus do Parque Dom",
      aspect: "landscape"
    },
    {
      src: "373_15",
      alt: "Estudantes analizam um bonsai",
      aspect: "square"
    },
    {
      src: "graocac",
      alt: "Grão e Casa de Abelha Cultural",
      aspect: "landscape"
    },
    {
      src: "seccultsbc",
      alt: "Prefeitura Municipal de São Bernardo do Campo. Secretaria da Cultura e Juventude. entro de Memória de São Bernardo do Campo",
      aspect: "portrait"
    },
    {
      src: "proac",
      alt: "Proac",
      aspect: "landscape"
    }
  ] as Image[];
</script>

<div class="w-full h-screen flex justify-center py-12 overflow-y-auto">
  <div class="max-w-2xl">
    <h1 class="mb-12">Sobre</h1>
    <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[0]} /></div>
    <p>
      O presente projeto está realizando a manutenção e preservação do acervo do Centro de Memória do município de São Bernardo do Campo através da digitalização de um acervo de mais de 350 mil fotogramas não revelados.
    </p>
    <p>
      Esse trabalho é um movimento importante no sentido da preservação da memória local, ao instrumentalizar e profissionalizar os processos de restauro e digitalização de negativos, imagens e documentos, oferecendo o suporte tecnológico necessário para tal.
    </p>
    <p>
      Agradecemos a todas pessoas envolvidas e interessadas em nosso trabalho, com destaque à equipe:
    </p>
    <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[1]} /></div>
    <ol class="text-center my-12">
      <li class="mb-5"><h1>Técnicos em Restauro</h1></li>
      <li>Ana Paulo dos Santos</li>
      <li>Felipe Medeiros Silva</li>
      <li>Kethelyn Alves Rocha</li>
      <li>Leticia Gonçalves do Nascimento</li>
      <li>Rodrigo Zanateli Ribeiro</li>
      <li class="my-5"><h1>Supervisão Técnica</h1></li>
      <li>Eduardo Liron</li>
    </ol>
    <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[2]} /></div>
    <ol class="text-center my-12">
      <li class="mb-5"><h1>Produção</h1></li>
      <li>Júlia Andreatta</li>
      <li>Amanda Rondina</li>
      <li>Julia Berengani</li>
    </ol>
    <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[3]} /></div>
    <ol class="text-center my-12">
      <li class="mb-5"><h1>Centro de Memória</h1></li>
      <li>Elaine Magarotto</li>
      <li>Ivani Ribeiro dos Santos</li>
      <li>Jorge Magyar</li>
      <li>Jorge Scopel Jacobini</li>
      <li>Luciana de Fatima Bispo</li>
      <li>Maria Valéria Rodrigues</li>
      <li>Ricardo Queiroz Pinheiro</li>
      <li>Rodolfo Scopel Jacobini</li>
      <li>Valeria Napier</li>
      <li>Viviane Rosa</li>
    </ol>
    <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[4]} /></div>
    <ol class="text-center my-12">
      <li class="mb-5"><h1>Registro Audiovisual</h1></li>
      <li>Bruno Lottelli</li>
      <li>Renan Vasconcelos</li>
    </ol>
    <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[5]} /></div>
    <ol class="text-center my-12">
      <li class="mb-5"><h1>Realização</h1></li>
    </ol>
    <div class="flex flex-col items-center">
      <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[6]} /></div>
      <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[7]} /></div>
      <div style="transform: rotate({Math.random() * 3 - 1}deg)"><PhotoPaper image={images[8]} /></div>
    </div>
  </div>
</div>

<style lang="postcss">
  p {
    @apply px-10 my-5;
  }
</style>
