@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cutive Mono";
  src: url("/font/CutiveMono-Regular.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "Jet Brains Mono";
  src: url("/font/JetBrainsMono-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "Jet Brains Mono";
  src: url("/font/JetBrainsMono-Italic-VariableFont_wght") format("truetype-variations");
  font-weight: 1 999;
  font-style: italic;
}

html, body {
  font-family: 'Jet Brains Mono';
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;

  @apply text-zinc-800 bg-light-table overflow-hidden;
}

h1 {@apply text-2xl;}

.envelope { font-family: 'Cutive Mono' }

@layer utilities {
  @responsive {
    .writing-up {
      writing-mode: vertical-rl;
      @apply transform rotate-180
    }
  }
}